default:
  extensions:
    Behat\MinkExtension:
      base_url: "http://www.pmi.com/marketpages/Pages/market_he_il.aspx"

      ## Selenium integration
      # selenium2:
        # http://selenium is the URL alias to the Selenium docker container.
        # wd_host: "http://selenium:4444/wd/hub"
        # browser: chrome
